.container{
  margin: 5px;
}

#question_nb, #question_timer, #question_score, #next-replay {
    display: inline-block;
    font: bold 12pt arial;
    color: #6495ED;
    padding: 3px 0px 3px 0px;
}

#question_timer, #next-replay {
    float: right;
}

#question_body {
    clear: both;
}

#answers {
    min-width: 100%;
    text-align: center;
}

.btn-answer {
    margin-top: 2px;
    margin-bottom: 2px;
}

#question_footer {
    margin-top: 5px;
}


.correct, .wrong {
  font-weight: bold;
}

.correct {
    color: #089A08;
}

.wrong {
    color: #FF6363;
}


#comment{
  margin-top:10px;
  text-align:left;
  font:normal 9pt arial;
  color:#000;
  border:dashed 1px #000;
  padding:8px 5px;
}
.info{
  border:none;
  vertical-align:middle;
  margin-right:10px;
}

@media (min-width: 600px) {
.container {
    width: 600px;
    border: 1px gray;
}

}
